<ion-header [translucent]="true">
  <ion-toolbar color="Black">
    <ion-title>REGISTRAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-textarea
  fill="solid"
  label="Nombres"
  labelPlacement="floating"
  class="custom"
  helperText=""
  errorText="Nombre no válido"
  ngModel
  email
  ></ion-textarea>

    <ion-textarea
  fill="solid"
  label="Apellidos"
  labelPlacement="floating"
  class="custom"
  helperText=""
  errorText="Apellidos no válidos"
  ngModel
  email
  ></ion-textarea>
  

  <ion-textarea
  fill="solid"
  label="Correo"
  labelPlacement="floating"
  class="custom"
  helperText=""
  errorText="Correo no válido"
  ngModel
  email
  ></ion-textarea>

  <ion-textarea
  fill="solid"
  label="Sección"
  labelPlacement="floating"
  class="custom"
  helperText=""
  errorText="Nombre sección no válido"
  ngModel
  email
  ></ion-textarea>


  <ion-textarea
  fill="solid"
  label="Contraseña"
  labelPlacement="floating"
  class="custom"
  helperText=""
  errorText="Caracteres incorrectos"
  ngModel
  email
  ></ion-textarea>

    <ion-textarea
  fill="solid"
  label="Confirmar contraseña"
  labelPlacement="floating"
  class="custom"
  helperText=""
  errorText="Caracteres incorrectos"
  ngModel
  email
  ></ion-textarea>

  <ion-button class="btn1" expand="block" color="white">Registrar</ion-button>
</ion-content>
